/*=============== VARIABLES CSS ===============*/
$header-height: 6.25rem;

/*========== Colors ==========*/
$body-color: #1E252B;
$title-color: #ffffff;
$text-color: #FFFFFF8C;
$text-color-active: #FFFFFFC7;
$input-text-color: #FFFFFF61;
$btn-color: #FF6E30;
$btn-border-color: #FFFFFF1A;
$line-color: #ffffff26;
$input-bg-color: #283036;
$card-text-color-active: #FFA537;
$card-text-color: #FFA5378C;
$card-circle-color: #FF6E3099;
$heart-color: #FD3B41;
$slider-dots-color: #283036;
$adap-menu-color: #28304A;
$loader-color: #000000;

/*========== Font and typography ==========*/
$body-font: 'Poppins', sans-serif;
$h1-font-size-biggest: 3.125rem;
$h1-font-size: 3rem;
$media-h1-font-size: 2.1rem;
$h2-font-size: 1.625rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$normal-font-size: 1.125rem;
$small-font-size: 1rem;
$smaller-font-size: 0.875rem;

 /*========== Font weight ==========*/
 $font-medium: 500;
 $font-regular: 400;

/*========== Margenes Bottom ==========*/
$mb-1-875: 1.875rem;
$mb-1-562: 1.562rem;
$mb-3-75: 3.75rem;
$mb-5-625: 5.625rem;
$mb-6-25: 6.25rem;

/*========== z-indexes ==========*/
$header-z-index: 10;